<div class = "jumbotron home-jumbotron">
  <div class = "container" style = "position: relative">
    <img class = "jack-gif" src = "/assets/jackdemo.gif">
    <img class = "kieran-gif" src = "/assets/kieran.gif">
    <img class = "neil-gif" src = "/assets/neil.gif">    
    <h1 class = "home-header">TRILLMIX</h1>
    <a type="button" class="btn btn-default gif-button" href = "#">GifMe</a>
    <a type="button" class="btn btn-default video-button" href = "#">VideoMe</a>
  </div>
</div>

<%= audio_tag "06 Loud Pipes.m4a" %>

<!--
    <center>
    <form action="static_pages/theatre">
      Type of audio: <input type="text" name="gif_aud"><br>
      Type of gif: <input type="text" name="gif"><br>
    <input type="submit" value="Get">
    </form>
    <p></p>
    <form action="static_pages/video_theatre">
      Type of audio: <input type="text" name="vid_aud"><br>
      Type of video: <input type="text" name="vid"><br>
    <input type="submit" value="Get">
      </form>
    </center>
-->