<div class = "jumbotron home-jumbotron">
  <div class = "container" style = "position: relative">
    <img class = "jack-gif" src = "/assets/jackdemo.gif" alt = "http://www.weswear.net/jackdemo.gif">
    <img class = "kieran-gif" src = "/assets/kieran.gif" alt = "http://www.weswear.net/kieran.gif">
    <img class = "neil-gif" src = "/assets/neil.gif" alt = "http://www.weswear.net/neil.gif">    
    <h1 class = "home-header">TRILLMIX</h1>
    <a type="button" class="btn btn-default gif-button" href = "/theatre">GifMe</a>
    <a type="button" class="btn btn-default video-button" href = "/video_theatre">VideoMe</a>
  </div>
</div>
<iframe src = "<%=@audio_url%>" style = "display: none">
</iframe>
