<!DOCTYPE html>
<html>
<head>
</head>
  <body>
    <center>
      <a href = "/static_pages/theatre">
        gif</a>
      <a href = "static_pages/video_theatre">
        video</a>
    </center>
  </body>
</html>
</html>