<html>
<head>
  <title>Trillmix</title>
  <script src = "https://www.google.com/jsapi"></script>
  <script src = "https://www.youtube.com/iframe_api"></script>
</head>
<body>
<h1>Trillmix videos</h1>
<p>Find me in app/views/static_pages/theatre.html.erb</p>
<%=
  # => video.title
%>
<% 
  vid_id = @video.video_id[-11..-1] 
  url = "http://www.youtube.com/embed/" + vid_id + "?autoplay=1"
%>
<div style = "width: 100%; text-align: center">
  <iframe width="550" height="345" src="<%= url %>" style = "display: none">
  </iframe>
  <a href  = "" style ="display: block">
    Gif
  </a>
  <a href = "/static_pages/video_theatre" style ="display: block">
    Video
  </a>  
  <%
    rand_gif = Giphy.random 
    rand_gif = rand_gif.image_original_url.to_s
  %>
  <img src = "<%=rand_gif%>" style = "width: 60%; height: auto">
</div>

</body>
</html>