<style>
  body{
    background-color: rgb(216, 216, 216);
  }
</style>

<%= render 'layouts/navbar' %> 

<div class = "container" style = "text-align: center">
    <img class = "next-button" src = "http://www.weswear.net/tie_dye_next_button.png">
  <div class = "gif-wrapper">
      <img id = "gif" class = "gif" src = "<%= @gif_url %>">
  </div>
  <div class = "row" style = "margin-top: 15px">
    <div class = "col-xs-12">
      <div class = "gif-control-wrapper"><div 
        class = "pause-wrapper">
          <i class="fa fa-pause" id = "pause-button"></i>
        </div><div 
        class = "fullscreen-button-wrapper">
          <i class = "fa fa-arrows-alt" id = "fullscreen-button"></i>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <form class = "form-inline new-random-content-form" role  = "form" method = "GET" action = "">
        <div class = "form-group">
          <input name = "gif" type="text" class="form-control form-control-new-random-content" 
          placeholder="Search Visuals" value = "<%= @previous_gif_query%>">
        </div>
        <div class = "form-group">
          <input name = "aud" type="text" class="form-control form-control-new-random-content" value = "<%= @previous_audio_query%>"placeholder="Search Audio">
        </div>        
      </form>
    </div>
  </div>  
</div>
<div id = "audio" style = "display: none">
</div>  
