<%= render 'layouts/navbar' %>  

  	<center>
    <h1>Trillmix videos<h1/>
    <div style = "width: 100%; text-align: center">
      <a href = "../" style = "display:block">
        home
      </a>
      <a href="javascript:history.go(0)">
        again
      </a>
    </div>
    <div id="video"></div>
    <div id="audio" style = "display:none"></div>
	</center>

