<html>
<head>
	<title>Trillmix</title>
	<script src = "https://www.google.com/jsapi"></script>
	<script src = "https://www.youtube.com/iframe_api"></script>
</head>
<body>
<h1>Trillmix videos</h1>
<p>Find me in app/views/static_pages/video_theatre.html.erb</p>
</body>
<%= @video %>
<br>
<%= @audio %>
<% 
	audio_id = @audio.video_id[-11..-1]
	video_id = @video.video_id[-11..-1] 
	audio_url = "http://www.youtube.com/embed/" + audio_id + "?autoplay=1"
	video_url = "http://www.youtube.com/embed/" + video_id + "?autoplay=1"
%>
	<iframe width="550" height="345" src="<%= audio_url %>" style = "display: none">
	</iframe>
</html>
