<!DOCTYPE html>
<html>
<head>
  <title>Trillmix</title>
  <%= include_gon %>
  <%= stylesheet_link_tag "video_theatre", media: "all"%>
  <%= javascript_include_tag "video_theatre"%>
  <%= csrf_meta_tag %>

</head>
  <body>
  	<center>
    <h1>Trillmix videos<h1/>
    <div style = "width: 100%; text-align: center">
      <a href = "/static_pages/theatre" style = "display: block">
        gif
      </a>
      <a href = "" style = "display:block">
        video
      </a>
    </div>
    <div id="video"></div>
    <div id="audio" style = "display:none"></div>
	</center>
  </body>
</html>
</html>
