@import 'bootstrap';

/* Home page */

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	background: linear-gradient(to bottom, black, rgb(71, 71, 71));
	border: none;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.42);
}
.navbar-brand{
	font-size: 25px;
	color: white !important;
}

.T{
	color: rgb(0,0,255);
}
.r{
	color: #FFED24;
}
.i{
	color: rgb(255,255,255);
}
.l{
	color: rgb(0,255,255);
}
.l2{
	color: #CB01DD;
}
.m{
	color: #47FF00;
}
.i2{
	color: rgb(255,0,0);
}
.x{
	color: #9900FF;
}


.home-header{
	margin-top: 170px;
	font-family: "Braggadocio";
}
@media(min-width: 992px){
	.home-header{
		font-size: 130px !important;
	}
}
@media(min-width:768px) and (max-width: 992px){
	.home-header{
		font-size: 95px !important;
	}
}

.home-jumbotron{
	background-color: black;
	color: white;
	margin-bottom: 0px;
	text-align: center;
}
h1{
}
.kieran-gif{
	height: 150px;
	width: auto;
	position: absolute;
	top: 31px;
	left: 230px;
}
.jack-gif{
	height: 150px; 
	width: auto; 
	position: absolute;
	top: 30px;
	left: 530px;
}
.neil-gif{
	height: 150px; 
	width: auto; 
	position: absolute;
	top: 30px;
	left: 843px;
}
.gif-button, .video-button{
	background-color: black;
	border-color: rgba(255, 255, 255, 0.35);
	color: white;
	margin-top: 50px;
	font-family: sans-serif;
}
.gif-wrapper{
	margin: 0 auto;
	width: 900px;
	height: 500px;
	margin-top: 20px;
}
.gif{
	margin: 0 auto;
	visibility: hidden;
	width: 900px;
	height: auto;
	border: 1px solid rgba(255, 255, 255, .35);
	box-shadow: 0px 0px 40px 2px black;
}
.new-random-content-form{
	margin-top: 15px;
}
.form-control-new-random-content{
	border-radius: 100px;
	height: 28px;
}
.next-button{
	width: 100px; 
	height: 100px; 
	float: right; 
	margin-top: 220px;
}
.next-button:hover{
	cursor: pointer;
};
.gif-control-wrapper{
	border: 3px solid black; 
	width: 150px; 
	height: 40px; 
	position: relative; 
	border-radius: 50px; 
	margin: 0 auto;
	text-align: left;
}
#pause-button{
	font-size: 30px; 
	color: black;
}
#pause-button:hover{
	cursor: pointer;
}
.pause-wrapper{
	border: 5px solid black; 
	width: 50px; 
	height: 50px; 
	border-radius: 50px;
	padding: 6px 0px 0px 0px;
	text-align: center;
	margin-top: -8px;
  margin-left: 47px;	
	position: relative;
	background-color: rgb(216, 216, 216);
	display: inline-block;
}
.fullscreen-button-wrapper{
	width: 47px;
	height: 40px; 
	display: inline-block; 
	text-align: center; 
	vertical-align: top; 
	margin-top: 9px;
}

#fullscreen-button{
	font-size: 18px;
}
#fullscreen-button:hover{
	cursor:pointer;
}

#gif:-webkit-full-screen{
	height: 100vH !important;
	width: auto !important;
	max-width: 100vW !important;
	max-height: 100vH !important;
	margin-top: 0px !important;
}
#gif:-moz-full-screen{
	height: 100vH !important;
	width: auto !important;
	max-width: 100vW !important;
	max-height: 100vH !important;
	margin-top: 0px !important;
}

#gif:-ms-full-screen{
	height: 100vH !important;
	width: auto !important;
	max-width: 100vW !important;
	max-height: 100vH !important;
	margin-top: 0px !important;
}
