<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href = "http://localhost:3000/">Trillmix</a>
  </div><!-- /.container-fluid -->
</nav>