<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href = "/">
    	<span class = "T">T</span><span class = "r">r</span><span class = "i">i</span><span 
    		class = "l">l</span><span class = "l2">l</span><span class = "m">m</span><span 
    		class = "i2">i</span><span class = "x">x</span>
    </a>
  </div><!-- /.container-fluid -->
</nav>